@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: none;
  padding: none;
  scroll-behavior: smooth;
  transition: all 500ms;
}

.pentagon {
  clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}

* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media not all and (min-width: 640px) {
  html {
    scroll-snap-type: y none;
  }
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

#root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  font-family: monospace;
}
.gradienttext {
  background: #1fa2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
}

.gradientbg {
  background: rgb(83, 82, 237);
  background: linear-gradient(
    180deg,
    rgba(83, 82, 237, 1) 0%,
    rgba(111, 116, 242, 1) 64%,
    rgba(83, 82, 237, 1) 100%
  );
}

@keyframes slidetop {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
    pointer-events: none;
  }
  100% {
    opacity: 1;
    transform: translate(0);
    pointer-events: all;
  }
}
@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translate(-100%);
    pointer-events: none;
  }
  100% {
    opacity: 1;
    transform: translate(0);
    pointer-events: all;
  }
}
@keyframes slideright {
  0% {
    opacity: 0;
    transform: translate(100%);
    pointer-events: none;
  }
  100% {
    opacity: 1;
    transform: translate(0);
    pointer-events: all;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: rgba(245, 245, 245, 0.25);
  color: rgba(245, 245, 245, 0.95);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(245, 245, 245, 0.95);
}

@keyframes fadeinbg {
  0% {
    background-position: 100%;
    opacity: 0;
    pointer-events: none;
  }
  100% {
    background-position: 0;
    opacity: 1;
    pointer-events: all;
  }
}

.orangestroke {
  color: white;
  background-color: transparent;
  text-shadow: -1px -1px 0 #f87474, 1px -1px 0 #f87474, -1px 1px 0 #f87474,
    1px 1px 0 #f87474;
}

.orangegradienttext {
  background: #fe8c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f83600,
    #fe8c00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f83600,
    #fe8c00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 50%;
}

.transition-mode-change {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1250ms;
}
.spinner {
  margin: 20px auto;
  width: 500px;
  height: 450px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.spinner .circle {
  animation: spinners linear infinite;
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #f00;
  border-radius: 50%;
}

.spinner .one {
  width: 50px;
  height: 50px;
  border-top-color: #9caf3d;
  animation-duration: 0.85s;
}

.spinner .two {
  width: 70px;
  height: 70px;
  border-top-color: #449f62;
  animation-duration: 0.95s;
}

.spinner .three {
  width: 100px;
  height: 100px;
  border-top-color: #ffb562;
  animation-duration: 1.05s;
}

@keyframes spinners {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scrollLeft {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(100%);
  }
}

.menuClip {
  clip-path: circle(50px at 30px 30px);
}

@keyframes load-left {
  0% {
    opacity: 0;
    transform: translate(-100%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.load-left {
  animation: load-left 500ms forwards;
}
@keyframes un-load-left {
  0% {
    opacity: 1;
    transform: translate(0%);
  }
  100% {
    opacity: 0;
    transform: translate(-100%);
  }
}
.un-load-left {
  animation: un-load-left 500ms forwards;
}

@keyframes load-right {
  0% {
    opacity: 0;
    transform: translate(100%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.load-right {
  animation: load-right 500ms forwards;
}

@keyframes load-top {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.load-top {
  animation: load-top 500ms forwards;
}
